<% content_for( :title, t('.title'))%>
<div class="bg-customBeige text-customGreen min-h-screen grid grid-rows-7">
  <div class="grid row-span-2 content-center">
    <div class="container mx-auto px-5 py-4">
      <h1 class="text-3xl font-bold text-center">診断結果</h1>
    </div>
  </div>
  <div class="row-span-5">
    <div class="container mx-auto px-4 py-4">
      <div class=" border-8 border-double border-customGreen4 rounded-3xl shadow-lg shadow-customGreen4 bg-customGreen3 md:w-3/5 md:mx-auto px-4">
        <p class="px-4 py-6 font-extrabold underline"><%= @result.title %></p>
        <p class= "px-4 pb-6 tracking-wide leading-relaxed"><%= @result.description %></p>
        <p class= "px-4 py-4 font-extrabold leading-relaxed underline">おすすめ機能:</p>
        <% @result.recommendations.each do |recommendation|%>
          <p class= "px-4 pb-6 tracking-wide leading-relaxed"><%= recommendation.title %>: <%= recommendation.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
