<div class="bg-customBeige text-customBrown h-screen flex flex-col justify-center items-center">
  <h1 class="py-2 mb-4">まずは自己否定度診断をしてみよう！</h1>
  <div class="bg-customGreen text-white rounded-md w-1/12 text-center py-2 mb-4">
    <%= link_to "診断をする", "#" %>
  </div>
  <p>使い方</p>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
  </svg>
</div>

