<% content_for(:title, t('.title')) %>
<div class="container mx-auto py-10">
  <h1 class="text-3xl my-10 text-center"><%= t('.title') %></h1>
  <table class="table m-4">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Monthly Theme ID</th>
        <th>Content</th>
        <th>Url</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <%= render partial: 'theme_resource', collection: @theme_resources %>
    </tbody>
  </table>
</div>