<% content_for(:title, t('.title')) %>
<div class="container mx-auto">
  <h1 class="text-3xl my-10 text-center"><%= t('.title') %></h1>
  <table class="table m-4">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Threshold</th>
        <th>Flower Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <%= render partial: 'unlockable_flower', collection: @unlockable_flowers%>
    </tbody>
  </table>
</div>
