<% content_for(:title, t('.title'))%>
<div class="bg-customBeige text-customGreen5 min-h-screen">
  <div class="container mx-auto px-5 py-10">
    <h1 class="text-2xl font-bold text-center"><%= t('.title') %></h1>
  </div>
  <div class="container mx-auto py-10 lg:px-16 lg:py-10">
    <%= render partial: 'diary', collection: @diaries %>
    <% @diaries.each do |diary| %>
    <% end %>
  </div>
</div>