<footer>
    <div class="bg-customGreen flex flex-col justify-between items-center h-20 content-end">
      <!-- nav - start -->
      <nav class="flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start my-4 text-orange-200">
        <%= link_to "利用規約", terms_path, class: "transition duration-100 hover:text-orange-300 active:text-indigo-600" %>
        <%= link_to "プライバシーポリシー", privacy_path, class: "transition duration-100 hover:text-orange-300 active:text-indigo-600" %>
        <%= link_to "お問合せ", "#", class: "transition duration-100 hover:text-orange-300 active:text-indigo-600" %>


      </nav>
      <!-- nav - end -->

      <div class="text-center text-sm text-teal-950 mb-2">© 2023 - Present OhaLog. All rights reserved.</div>
    </div>
</footer>