<footer>
    <div class="bg-customGreen5 flex flex-col justify-between items-center h-24 content-end">
      <!-- nav - start -->
      <nav class="flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start mt-6 text-customGreen6">
        <%= link_to t('defaults.terms_of_use'), terms_path, class: "transition duration-100 hover:text-orange-300 active:text-indigo-600" %>
        <%= link_to t('defaults.privacy_policy'), privacy_path, class: "transition duration-100 hover:text-orange-300 active:text-indigo-600" %>
        <%= link_to t('defaults.contact'), "#", class: "transition duration-100 hover:text-orange-300 active:text-indigo-600" %>
      </nav>
      <!-- nav - end -->
      <div class="text-center text-sm text-teal-950 mb-2">© 2023 - Present JustBe U. All rights reserved.</div>
    </div>
</footer>