<header class="bg-customGreen flex flex-row justify-between items-center h-16">
  <div class="text-orange-200 mx-4">
    <%= link_to "AcceptME", "/" %>
  </div>
  <div class="flex space-x-4">
    <nav>
      <div class="dropdown dropdown-bottom dropdown-end h-full">
        <div tabindex="0" class="m-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-orange-200">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-customGreen rounded-box w-52 text-orange-200">
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
