<% content_for( :title, t('.title'))%>
<div class="bg-customBeige min-h-screen">
  <div class="container mx-auto px-5 py-10">
    <h1 class="text-2xl font-bold text-center text-customGreen pt-4">マイページ</h1>
  </div>
  <div class="container mx-auto md:py-5 md:px-10 lg:px-40">
    <div class="bg-customBeige3 border-2 border-customGreen2 rounded-xl text-center pt-6 pb-2 w-full md:flex md:flex-col md:items-center">
      <ul class="mx-4 md:w-1/2 ">
        <li class="bg-customGreen4 text-customBeige rounded-full hover:bg-customGreen hover:drop-shadow-lg border-2 border-customGreen2 mb-6 py-4">
          <%= link_to 'プロフィール編集', "#" %>
        </li>
        <li class="bg-customGreen4 text-customBeige rounded-full hover:bg-customGreen hover:drop-shadow-lg border-2 border-customGreen2 mb-6 py-4">
          <%= link_to 'マイガーデン', garden_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
