<div class="bg-customBeige h-screen flex flex-col items-center justify-center">
  <div class="w-1/3">
    <ul>
      <li class="bg-customGreen2 text-customBeige mb-4 p-2 rounded-full flex items-center justify-center">
        <%= link_to 'プロフィール編集', "#" %>
      </li>
      <li class="bg-customGreen2 text-customBeige mb-4 p-2 rounded-full flex items-center justify-center">
        <%= link_to 'マイガーデン', garden_path %>
      </li>
    </ul>
  </div>
</div>