<% content_for(:title, t('.title')) %>
<div class="container mx-auto">
  <h1 class="text-3xl my-10 text-center"><%= t('.title') %></h1>
  <table class="table m-4">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>TEXT</th>
        <th>SCORE TYPE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <%= render partial: 'question', collection: @questions %>
    </tbody>
  </table>
</div>