<% set_meta_tags og: {
      image: rails_blob_url(@encouragement_request.request_image),
      url: new_encouragement_message_url(request_id: @encouragement_request.id)
    },
    twitter: {
      card: "summary_large_image",
      image: rails_blob_url(@encouragement_request.request_image)
    } %>
<div class="bg-customBeige min-h-screen">
  <div class="container mx-auto px-5 py-10">
    <div class="flex flex-col items-center  w-full">
      <%= image_tag @encouragement_request.request_image, size: '400x300' %>
    </div>
  </div>
  <div class="text-center my-8">
    <%= link_to 'テキストを編集する', edit_encouragement_request_path(@encouragement_request),  class: "bg-customGreen6 text-customGreen5 mx-6 my-2 px-5 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2" %>
    <%= link_to "削除", encouragement_request_path(@encouragement_request), class:"bg-customGreen6 text-customGreen5 mx-6 my-2 px-5 py-2 rounded-full drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg border-2 border-customGreen2", data: { turbo_method: :delete, turbo_confirm: "画像を削除しますか?" } %>
  </div>
  <div class="twitter font-bold text-sm text-white my-6 py-1 px-4 border-2 border-gray-500 rounded-lg bg-gray-500 hover:bg-gray-700 text-center w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/7 mx-auto">
    <%= link_to "https://x.com/share?url=https://www.justbe-u.com/encouragement_messages/new?request_id=#{@encouragement_request.id}&text= 励ましのメッセージを送る%0a%0a %23JustBeU %23自己受容", target: '_blank' do %>
      <i class="fa-brands fa-x-twitter"></i>シェア
    <% end %>
  </div>
</div>