<% content_for( :title, t('.title'))%>
<div class="min-h-screen bg-customBeige">
  <div class="flex flex-col justify-center">
    <h1 class="text-customGreen5 text-2xl lg:text-4xl font-bold text-center my-6">マイガーデン</h1>
    <div class="text-white max-w-xl mx-auto my-6"> <!-- max-w-xl で最大幅を設定し、mx-auto で中央に配置 -->
      <h3 class="text-center text-sm text-customGreen5 bg-customGreen7 border-2 rounded-xl px-4 py-2">総花数: <%= @total_flowers_count %>本 | 週花数: <%= @weekly_flowers_count %>本</h3>
    </div>
  </div>
  <div class="container mx-auto px-2 py-4 md:py-8">
    <div class="flex items-center justify-center mt-2">
      <% counter = 0 %>
      <table class="border-collapse bg-customBrown">
        <% 5.times do |row|%>
          <tr>
            <% 8.times do |column| %>
              <% if @planted_flowers[counter] %>
                <td class="w-8 h-8 sm:p-2.5 border-2 border-customBrown2 box-border text-center sm:w-20 sm:h-20 md:w-22 md:h-22 lg:w-24 lg:h-24">
                  <div class="flex justify-center items-center px-1">
                    <%= image_tag(@planted_flowers[counter].unlockable_flower.flower_image, size: '50x50', alt: @planted_flowers[counter].unlockable_flower.name) %>
                  </div>
                </td>
              <% else %>
                <td class="w-16 h-16 sm:p-2.5 border-2 border-customBrown2 box-border text-center sm:w-20 sm:h-20 md:w-22 md:h-22 lg:w-24 lg:h-24">
                  <div class="p-4"></div>
                </td>
              <% end %>
              <% counter += 1 %>
            <%end%>
          </tr>
        <%end%>
      </table>
    </div>
    <div class="flex items-center justify-center mt-4 mb-10">
      <%= paginate @planted_flowers, window: 2 %>
    </div>
  </div>
</div>