<% content_for( :title, t('.title'))%>
<div class="bg-customBeige text-customGreen min-h-screen grid grid-rows-3">
  <div class="input-area" >
    <div class="text-center mt-5">
        <h1 class="font-bold text-4xl py-4 my-4">自己否定脱却トレーニング</h1>
        <p class="pt-5">自分を責めてしまう思考が頭をよぎったら、この機能を見てください。</p>
        <p class="pb-10">思考を再評価し、自分を優しく見つめ直すトレーニングになります。</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <p class="text-customGreen2 p-2 mb-1">自己否定な思考を入力してください</p>
      <%= form_with(url: search_self_esteem_trainings_path, method: :get, local: true, class: "grid gap-4")do |f| %>
        <div>
          <%= f.text_area :text, size: "80x3", class: "bg-white border-2 border-slate-300 p-2 rounded-lg" %>
        </div>
        <div class="justify-self-center">
          <%= f.submit '変換', class: "bg-customGreen text-customBeige px-6 py-2 rounded-full drop-shadow-lg hover:bg-customGreen4 hover:drop-shadow-lg", id: "convertButton"%>
        </div>
      <% end %>
    </div>
  </div>
  <div class='animation-area hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 drop-shadow-2xl' id='animationArea'>
    <%= image_tag 'flower.gif', size: "300x300", id: 'animationGif', class: 'border-2 border-customBeige2 rounded-full drop-shadow-lg'%>
  </div>
</div>