<% content_for( :title, t('.title'))%>
<div class="bg-customBeige text-customGreen flex flex-col items-center justify-center h-screen">
  <h3 class="text-teal-500 p-3 my-2">回答</h3>
  <p class="text-violet-300"><%= @chat %></p>
  <div class="text-teal-500 p-3 my-2 hover:bg-violet-600 hover:text-teal-100">
    <%= link_to '入力ページに戻る', new_self_esteem_training_path %>
  </div>
</div>